<?xml version="1.0"?>
<launch>
  <arg name="file_prefix" default="PARKO"/>
  <node pkg="rosbag" type="record" name="rosbag_record"
        args="record -b 1024 --split --size=10000 -o /home/punnu/bagfile/$(arg file_prefix) /velodyne_points /port_0/camera_0/image_raw/compressed /port_0/camera_1/image_raw/compressed /port_0/camera_2/image_raw/compressed /port_0/camera_3/image_raw/compressed /port_1/camera_0/image_raw/compressed /port_1/camera_1/image_raw/compressed /port_2/camera_0/image_raw/compressed /port_2/camera_1/image_raw/compressed /gmsl_camera_0_0/camera_info /gmsl_camera_0_1/camera_info /gmsl_camera_0_2/camera_info /gmsl_camera_0_3/camera_info /gmsl_camera_1_0/camera_info /gmsl_camera_1_1/camera_info /gmsl_camera_2_0/camera_info /gmsl_camera_2_1/camera_info" />
</launch>

