<?xml version="1.0"?>
<launch>
    <!-- yaml camera info publisher -->
    <arg name="camera_info_topic00" default="/camera_info_00" />
    <arg name="camera_info_topic01" default="/camera_info_01" />
    <arg name="camera_info_topic02" default="/camera_info_02" />
 	<arg name="camera_info_topic03" default="/camera_info_03" />
	<arg name="camera_info_topic10" default="/camera_info_10" />  
    <arg name="camera_info_topic11" default="/camera_info_11" />
  	<arg name="camera_info_topic12" default="/camera_info_12" />
  	<arg name="camera_info_topic13" default="/camera_info_13" />

    <arg name="file00" default="$(find camera_info_publisher)/config/low/gmsl00_calibration.yml" />
    <arg name="file01" default="$(find camera_info_publisher)/config/low/gmsl01_calibration.yml" />
    <arg name="file02" default="$(find camera_info_publisher)/config/low/gmsl02_calibration.yml" />
    <arg name="file03" default="$(find camera_info_publisher)/config/low/gmsl03_calibration.yml" />
	<arg name="file10" default="$(find camera_info_publisher)/config/low/gmsl10_calibration.yml" />
	<arg name="file11" default="$(find camera_info_publisher)/config/low/gmsl11_calibration.yml" />
	<arg name="file12" default="$(find camera_info_publisher)/config/low/gmsl12_calibration.yml" />
	<arg name="file13" default="$(find camera_info_publisher)/config/low/gmsl13_calibration.yml" />

    <node pkg="camera_info_publisher" type="yaml_to_camera_info_publisher.py" name="camera_info_publisher_00" output="screen">
      <param name="camera_calibration_yaml" value="$(arg file00)" /> 
      <param name="camera_info_topic" value="$(arg camera_info_topic00)" />
    </node>
    
	<node pkg="camera_info_publisher" type="yaml_to_camera_info_publisher.py" name="camera_info_publisher_01" output="screen">
      <param name="camera_calibration_yaml" value="$(arg file01)" /> 
      <param name="camera_info_topic" value="$(arg camera_info_topic01)" />
    </node>
   
 	<node pkg="camera_info_publisher" type="yaml_to_camera_info_publisher.py" name="camera_info_publisher_02" output="screen">
      <param name="camera_calibration_yaml" value="$(arg file02)" /> 
      <param name="camera_info_topic" value="$(arg camera_info_topic02)" />
    </node>

    <node pkg="camera_info_publisher" type="yaml_to_camera_info_publisher.py" name="camera_info_publisher_03" output="screen">
      <param name="camera_calibration_yaml" value="$(arg file03)" /> 
      <param name="camera_info_topic" value="$(arg camera_info_topic03)" />
    </node>

 	<node pkg="camera_info_publisher" type="yaml_to_camera_info_publisher.py" name="camera_info_publisher_10" output="screen">
      <param name="camera_calibration_yaml" value="$(arg file10)" /> 
      <param name="camera_info_topic" value="$(arg camera_info_topic10)" />
    </node>

	<node pkg="camera_info_publisher" type="yaml_to_camera_info_publisher.py" name="camera_info_publisher_11" output="screen">
      <param name="camera_calibration_yaml" value="$(arg file11)" /> 
      <param name="camera_info_topic" value="$(arg camera_info_topic11)" />
    </node>

	<node pkg="camera_info_publisher" type="yaml_to_camera_info_publisher.py" name="camera_info_publisher_12" output="screen">
      <param name="camera_calibration_yaml" value="$(arg file12)" /> 
      <param name="camera_info_topic" value="$(arg camera_info_topic12)" />
    </node>

	<node pkg="camera_info_publisher" type="yaml_to_camera_info_publisher.py" name="camera_info_publisher_13" output="screen">
      <param name="camera_calibration_yaml" value="$(arg file13)" /> 
      <param name="camera_info_topic" value="$(arg camera_info_topic13)" />
    </node>


</launch>


